@import "../global";

#index {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 85px;

        .logo {
            width: 65px;
            height: auto;
        }

        .text {
            color: white;
            font-family: "Roboto Black";
            font-size: 50px;
            margin: 0px;
            margin-left: 20px;
        }
    }

    .settings-button {
        display: inline-block;
        color: #24a03c;
        font-family: "Roboto";
        font-size: 23px;
        margin-top: 10px;
        cursor: pointer;
        @include center;
    }

    .description {
        display: inline-block;
        color: white;
        font-family: "Roboto";
        font-size: 28px;
        margin: auto;
        margin-top: 35px;
        @include center;
    }

    .connections {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 165px;

        .connection {
            display: flex;
            width: 250px;
            flex-wrap: wrap;
            background-color: #ffffff13;
            border-radius: 10px;
            padding: 35px;
            margin: 35px;
            transition: 0.25s;

            &:hover {
                box-shadow: 0px 10px 50px 5px #ffffff13;
                transform: translate(0, -5px);
            }

            .content {
                width: 100%;

                .name {
                    display: inline-block;
                    width: 100%;
                    color: white;
                    font-family: "Roboto";
                    font-size: 23px;
                    text-align: center;
                    margin: auto;
                }

                .host {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin: 15px 0px;

                    .text {
                        color: #ffffff5d;
                        font-family: "Roboto";
                        font-size: 18px;
                        margin: 0px;
                        margin-left: 15px;

                        span {
                            color: #ffffff3d;
                            font-size: 15px;
                        }
                    }

                    .srv {
                        color: white;
                        font-family: "Roboto";
                        font-size: 15px;
                        background-color: #24a03d8a;
                        border-radius: 5px;
                        padding: 5px 10px;
                        margin-left: 10px;
                    }
                }

                .user {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        width: 25px;
                        height: auto;
                    }

                    .text {
                        color: white;
                        font-family: "Roboto";
                        font-size: 18px;
                        margin: 0px;
                        margin-left: 15px;
                    }
                }
            }

            .buttons {
                width: 100%;
                align-self: flex-end;
                margin-top: 25px;

                .connect-button {
                    display: inline-block;
                    color: white;
                    font-family: "Roboto";
                    font-size: 18px;
                    border: 2px #24a03c solid;
                    border-radius: 5px;
                    padding: 10px 35px;
                    cursor: pointer;
                    transition: 0.25s;
                    @include center;

                    &:hover {
                        background-color: #24a03c;
                    }
                }

                .edit-button {
                    display: inline-block;
                    color: #ffffff5d;
                    font-family: "Roboto";
                    font-size: 18px;
                    white-space: nowrap;
                    margin: auto;
                    cursor: pointer;
                    @include center;
                }
            }
        }

        .new-connection {
            display: flex;
            width: 250px;
            align-items: center;
            border: 5px #ffffff13 solid;
            border-radius: 10px;
            padding: 35px;
            margin: 35px;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
                box-shadow: 0px 10px 50px 5px #ffffff13;
                transform: translate(0, -5px);
            }

            .content {
                width: 100%;
                padding: 45px 0px;

                .icon {
                    width: 100px;
                    height: auto;
                    opacity: 0.25;
                    @include center;
                }

                .text {
                    display: inline-block;
                    color: white;
                    font-family: "Roboto";
                    font-size: 23px;
                    white-space: nowrap;
                    margin: auto;
                    margin-top: 35px;
                    @include center;
                }
            }
        }
    }
}