@import "../global";

#index {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .background {
        .left-wave {
            position: absolute;
            width: auto;
            height: 1000px;
            top: 0vh;
            left: -1000px;
            user-select: none;
            z-index: -10;
            animation: leftWave 7s infinite ease-in-out;

            @keyframes leftWave {
                0%, 100% {
                    transform: rotate(115deg) translate(-300px, 0);
                }

                50% {
                    transform: rotate(115deg) translate(300px, 0);
                }
            }
        }

        .top-left-corner {
            position: absolute;
            width: 100%;
            height: 50vh;
            top: -40vh;
            left: -35%;
            background-color: #131b14;
            border: 2px #24a03c solid;
            transform: rotate(-15deg);
            z-index: -10;
        }

        .bottom-right-corner {
            position: absolute;
            width: 100%;
            height: 50vh;
            bottom: -40vh;
            right: -35%;
            background-color: #131b14;
            border: 2px #24a03c solid;
            transform: rotate(-15deg);
            z-index: -10;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 65px;

        .logo {
            width: 85px;
            height: auto;
        }

        .text {
            color: white;
            font-family: "Roboto Black";
            font-size: 65px;
            margin-left: 20px;
        }
    }

    .description {
        display: inline-block;
        color: white;
        font-family: "Roboto";
        font-size: 35px;
        margin: auto;
        margin-top: 35px;
        @include center;
    }

    .connections {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 165px;

        .connection {
            display: flex;
            width: 250px;
            flex-wrap: wrap;
            background-color: #ffffff13;
            border-radius: 10px;
            padding: 35px;
            margin: 35px;
            transition: 0.25s;

            &:hover {
                box-shadow: 0px 10px 50px 5px #ffffff13;
                transform: translate(0, -5px);
            }

            .content {
                width: 100%;

                .name {
                    display: inline-block;
                    width: 100%;
                    color: white;
                    font-family: "Roboto";
                    font-size: 25px;
                    text-align: center;
                    margin: auto;
                }

                .host {
                    display: inline-block;
                    color: #ffffff5d;
                    font-family: "Roboto";
                    font-size: 20px;
                    @include center;

                    span {
                        color: #ffffff3d;
                        font-size: 15px;
                    }
                }

                .user {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        width: 25px;
                        height: auto;
                    }

                    .text {
                        color: white;
                        font-family: "Roboto";
                        font-size: 20px;
                        margin: 0px;
                        margin-left: 15px;
                    }
                }
            }

            .buttons {
                width: 100%;
                margin-top: 25px;

                align-self: flex-end;

                .connect-button {
                    display: inline-block;
                    color: white;
                    font-family: "Roboto";
                    font-size: 20px;
                    border: 2px #24a03c solid;
                    border-radius: 5px;
                    padding: 10px 35px;
                    cursor: pointer;
                    transition: 0.25s;
                    @include center;

                    &:hover {
                        background-color: #24a03c;
                    }
                }

                .edit-button {
                    display: inline-block;
                    color: #ffffff5d;
                    font-family: "Roboto";
                    font-size: 20px;
                    white-space: nowrap;
                    margin: auto;
                    cursor: pointer;
                    @include center;
                }
            }
        }

        .new-connection {
            display: flex;
            width: 250px;
            align-items: center;
            border: 5px #ffffff13 solid;
            border-radius: 10px;
            padding: 35px;
            margin: 35px;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
                box-shadow: 0px 10px 50px 5px #ffffff13;
                transform: translate(0, -5px);
            }

            .content {
                width: 100%;

                .icon {
                    width: 100px;
                    height: auto;
                    opacity: 0.25;
                    @include center;
                }

                .text {
                    display: inline-block;
                    color: white;
                    font-family: "Roboto";
                    font-size: 25px;
                    white-space: nowrap;
                    margin: auto;
                    margin-top: 35px;
                    @include center;
                }
            }
        }
    }
}