@import "../global";

#new-connection {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .title {
        display: inline-block;
        color: white;
        font-family: "Roboto";
        font-size: 65px;
        margin-top: 65px;
        @include center;
    }

    .back-button {
        position: fixed;
        width: 0px;
        height: 0px;
        top: 65px;
        left: 65px;
        border: 15px transparent solid;
        border-right: 15px white solid;
        cursor: pointer;
    }
}