@import "../global";

#settings-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .tooltip {
        font-family: "Roboto";
        font-size: 18px;
        text-align: center;
        background-color: #00380b;
    }

    .__react_component_tooltip::after {
        border-top-color: #00380b;
    }

    .content {
        width: calc(100% - 350px);
        float: right;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px;
            margin-bottom: 35px;

            .icon {
                width: 50px;
                height: auto;
            }

            .text {
                color: white;
                font-family: "Roboto Black";
                font-size: 50px;
                margin: 0px;
                margin-left: 20px;
            }
        }
    }
}