
@import "../global";

#background {
    .wave {
        position: absolute;
        width: auto;
        height: 1000px;
        top: 0vh;
        left: -1000px;
        user-select: none;
        z-index: -10;
        animation: wave 7s infinite ease-in-out;

        @keyframes wave {
            0%, 100% {
                transform: rotate(115deg) translate(-300px, 0);
            }

            50% {
                transform: rotate(115deg) translate(300px, 0);
            }
        }
    }

    .top-left-corner {
        position: absolute;
        width: 100%;
        height: 50vh;
        top: -40vh;
        left: -35%;
        background-color: #131b14;
        border: 2px #24a03c solid;
        transform: rotate(-15deg);
        z-index: -10;
    }

    .bottom-right-corner {
        position: absolute;
        width: 100%;
        height: 50vh;
        bottom: -40vh;
        right: -35%;
        background-color: #131b14;
        border: 2px #24a03c solid;
        transform: rotate(-15deg);
        z-index: -10;
    }
}