//Mixins
@mixin center {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

//HTML and body
html {
    background-color: black;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

//Scrollbar
::-webkit-scrollbar {
    width: 5px;
    background-color: #2e2e2e;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}